parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:ban\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Resources/Actions/BanAction.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:ban\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Resources/Actions/BanBulkAction.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Resources/BanhammerResource.php
